@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}

/* medquer */

@media screen and (max-width: 1024px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (max-width: 768px) {
  html {
    font-family: "Poppins";
  }

  .name {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
  }

  .name h1 {
    font-size: 17px;
    color: white;
    padding: 5px;
    margin-left: 10px;
  }

  .name p {
    color: white;
    font-size: 10px;
  }

  .name h1 span {
    color: rgb(35, 32, 219);
  }

  .name img {
    width: 30px;
    padding: 5px;
    color: #42baff;
  }

  /* navbar */
  .nvbritem a {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
  }

  .nvbritem a img {
    width: 18px;
  }

  .nvbritem a h5 {
    padding: 0 5px;
    color: #003655;
  }

  .nvbritem a p {
    font-weight: 100;
    font-size: 11px;
  }

  .nvbritem {
    padding: 10px;
  }

  .nvbr {
    height: 100vh;
    background-color: #161616;
    width: 30%;
  }

  body {
    background-color: black;
  }

  .layar {
    background-color: rgb(29, 29, 29);
    width: 70%;
    height: 100vh;
  }

  .layar1 {
    display: flex;
  }

  .layar h3 {
    color: white;
    text-align: center;
    font-weight: 200;
  }

  .layar p {
    color: white;
    font-size: 10px;
    text-align: center;
  }

  .teks {
    margin-top: 250px;
  }
}
